<!DOCTYPE HTML>
<HTML>
    <head>
        <title><%= displayName %> (@<%= username %>) | Fetching Simulator</title>
        
        <link rel='stylesheet' href='/styles.css' />
        <link rel='stylesheet' href='/favicon.ico' />
    </head>
    
    <body>
        <div class='container'>
            <h1>Specified user profile information</h1>
            <p>The following content shows the premises of the information of the user you specified.</p>
            
            <br />
            <hr />
            <br />
            
            <p>Account Age: <span style='color: red;'><%= accountAge %></span></p>
            <p>Description: <span style='color: red;'><%= description %></span></p>
            <p>Display Name: <span style='color: red;'><%= displayName %></span></p>
            <p>Follower Count: <span style='color: red;'><%= followerCount %></span></p>
            <p>Following Count: <span style='color: red;'><%= followingCount %></span></p>
            <p>Friend Count: <span style='color: red;'><%= friendCount %></span></p>
            <p>Account Banned: <span style='color: red;'><%= accountBanned %></span></p>
            <p>Join Date: <span style='color: red;'><%= joinDate %></span></p>
            <p>Previous Names: <span style='color: red;'><%= previousNames %></span></p>
            <p>Username: <span style='color: red;'>@<%= username %></span></p>
        </div>
    </body>
</HTML>
